.BorTit
  border-left: 4px solid #E4C7A1
  padding: 5px 0px 5px 10px
  font-size: 0.8em

iframe
  border-radius: 10px

figcaption
  margin-top: 4px

caption
  margin-top: 4px

.introduccion-div
  background-image: url("../assets/curso/introduccion/img02.svg")
  background-color: white
  background-repeat: no-repeat
  background-size: cover

.tema2-div1
  background: rgba(203,231,228,1);
  background: -moz-linear-gradient(top, rgba(203,231,228,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(203,231,228,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(203,231,228,1) 0%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(203,231,228,1) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(203,231,228,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(203,231,228,1) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbe7e4', endColorstr='#ffffff', GradientType=0 );

.tema2-div2
  background-image: url("../assets/curso/tema1/img02.png")
  background-color: white
  background-repeat: no-repeat
  background-size: cover

.tema1-TabsA .tabs-a__content-item--active 
  background-color: #E5F4FC
  border-radius: 15px

.tema1-TabsA .tabs-a__tab
  background-color: #E8E8E8

.tema1-div-1-2
  border-radius: 12px
  background-color: #F8E9D9

.tema-1-anexo1 .anexo
  background-color: #F4E9D9

.tema-1-anexo1 .anexo *
  color: $color-sistema-texto !important
  
  
